.foother{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #2F4050; 
}

:root {
  --header-height: 80px; /* globalna promenljiva */
}

.custom-navbar {
  background-color: #2F4050; 
  height: 80px;           
  display: flex;     
  padding: 0 20px;          
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logout-icon {
  cursor: pointer;
  color: white;
  transition: color 0.2s ease;
}

.logout-icon:hover {
  color: #1ab394; 
}

.hamburger {
  position: fixed;    
  top: 15px;
  left: 15px;
  z-index: 1000;         
  font-size: 24px;       
  color: white; 
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.Sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height)); 
  width: 220px;
  background-color: #2F4050;
}

.SidebarList{
    height: 100%;
    padding: 0;
    width:100%;
}

.SidebarList .row {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
    color: white; 
}

.SidebarList .row:hover {
    background-color: #293846; 
    cursor: pointer;
}

.SidebarList #active {
    background-color: #1c2833;
}

.row #icon {
    flex: 0 0 30px; 
    display: grid;
    place-items: center;
    font-size: 20px;
    color: white; 
    top: 20px;
}
.row #title {
    flex: 1; 
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    top: 20px;
}



.SubMenu {
    list-style: none;
    padding-left: 30px;
    background-color: #243140;
}

.subRow {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #ddd;
    cursor: pointer;
}

.subRow:hover {
    background-color: #1c2530;
}


.row-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    height: 100%;
}

.custom-navbar {
  background-color: #2F4050; 
  height: 90px;
}
.logout-icon {
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
  align-items: flex-end;
}

.logout-icon:hover {
  color: #ddd;
}

.custom-btn {
  background-color: #2F4050;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #1c2833;
  color: #ddd;
}