body, html {
    height: 100%;
    margin: 0;
  }
  
.container {
    height: 100%;
    overflow: auto;
    padding: 20px;
}
  
.card {
    margin: 20px 0;
}

.foother{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}